elasticsearch==7.1.0
Flask==1.1.1
jupyterlab==1.1.4
jusText==2.2.0
news-please==1.4.24
nlpnet==1.2.4
nltk==3.4.5
numpy==1.22.0
pandas==0.25.2
pt-core-news-sm==2.2.0
requests==2.22.0
spacy==2.2.1
urllib3==1.25.6
